aside#slide {
    width: 1000px;
    margin: 10px auto 0;
}

.slide-pager {
    position: relative;

}

.slide-control-prev {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: #F90;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    top: 102px;

    left: -34px;
    z-index: 1000;

}

.slide-control-next {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: #F90;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    right: -34px;
    top: 102px;
    z-index: 1000;

}

.slide-container {
    height: 255px;
    width: 1000px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.slide-stage {
    position: absolute;
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.slide-image {
    float: left;
    width: 200px;
    text-align: center;
    flex: 0 0 200px;

}

.slide-image img {
    width: 170px;
    height: 250px;
    margin: 0 auto;
}